In [32]:
#!/bin/python3

import math
import os
import random
import re
import sys
import requests
import bisect
    

def finestFoodOutlet(city, votes):
    page_no = 1
    url = f"thttps://jsonmock.hackerrank.com/api/food_outlets?city={city}&page={page_no}"
    resp = requests.get(url)
    result: Result = resp.json()

    out = []
    for page_no in range(1, result['total_pages'] + 1):
        url = f"https://jsonmock.hackerrank.com/api/food_outlets?city={city}&page={page_no}"
        resp = requests.get(url)
        result = resp.json()
        for datum in result['data']:
            if datum['user_rating']['votes'] >= votes:
                rec = (
                    datum['user_rating']['average_rating'],
                    datum['user_rating']['votes'],
                    datum['name'],
                )
                bisect.insort(out, rec)
    return out[-1][-1]

In [33]:
finestFoodOutlet('Seattle', 500)

'Cafe Juanita'

In [39]:
def iter_outlet(city: str):
    page_number = 1
    total_pages = 1
    while page_number <= total_pages:
        url = f"https://jsonmock.hackerrank.com/api/food_outlets?city={city}&page={page_number}"
        resp = requests.get(url)
        payload = resp.json()
        total_pages = payload['total_pages']
        yield from payload['data']
        page_number += 1

In [41]:
for i, datum in enumerate(iter_outlet("seattle")):
    print(datum)
    # if i == 5:
    #     break

{'city': 'Seattle', 'name': 'Cafe Juanita', 'estimated_cost': 160, 'user_rating': {'average_rating': 4.9, 'votes': 16203}, 'id': 41}
{'city': 'Seattle', 'name': 'Cafe Munir', 'estimated_cost': 160, 'user_rating': {'average_rating': 4.9, 'votes': 4699}, 'id': 42}
{'city': 'Seattle', 'name': 'Flechazo', 'estimated_cost': 140, 'user_rating': {'average_rating': 4.8, 'votes': 2663}, 'id': 43}
{'city': 'Seattle', 'name': 'Vanilla Sky', 'estimated_cost': 120, 'user_rating': {'average_rating': 4.6, 'votes': 645}, 'id': 44}
{'city': 'Seattle', 'name': 'The Shambles', 'estimated_cost': 110, 'user_rating': {'average_rating': 4.4, 'votes': 2116}, 'id': 45}
{'city': 'Seattle', 'name': 'Stories', 'estimated_cost': 150, 'user_rating': {'average_rating': 4.5, 'votes': 2087}, 'id': 46}
{'city': 'Seattle', 'name': 'Big Pitcher', 'estimated_cost': 180, 'user_rating': {'average_rating': 4.7, 'votes': 9011}, 'id': 47}
{'city': 'Seattle', 'name': 'The Black Pearl', 'estimated_cost': 150, 'user_rating': {'average_rating': 4.8, 'votes': 6976}, 'id': 48}
{'city': 'Seattle', 'name': 'Truffles', 'estimated_cost': 90, 'user_rating': {'average_rating': 4.7, 'votes': 14611}, 'id': 49}
{'city': 'Seattle', 'name': 'Biergarten', 'estimated_cost': 240, 'user_rating': {'average_rating': 4.7, 'votes': 299}, 'id': 410}
{'city': 'Seattle', 'name': 'TBC Sky Lounge', 'estimated_cost': 10, 'user_rating': {'average_rating': 4.7, 'votes': 6577}, 'id': 411}
{'city': 'Seattle', 'name': 'The Pump House', 'estimated_cost': 150, 'user_rating': {'average_rating': 4.3, 'votes': 588}, 'id': 412}
{'city': 'Seattle', 'name': 'JuneBaby', 'estimated_cost': 80, 'user_rating': {'average_rating': 4.4, 'votes': 1880}, 'id': 413}
{'city': 'Seattle', 'name': 'Brew and Barbeque - A Microbrewery Pub', 'estimated_cost': 140, 'user_rating': {'average_rating': 4.7, 'votes': 5695}, 'id': 414}
{'city': 'Seattle', 'name': 'Simon Says Brew Works', 'estimated_cost': 140, 'user_rating': {'average_rating': 4.5, 'votes': 1855}, 'id': 415}
{'city': 'Seattle', 'name': 'Communiti', 'estimated_cost': 150, 'user_rating': {'average_rating': 4.6, 'votes': 3837}, 'id': 416}
{'city': 'Seattle', 'name': 'Asia Kitchen By Mainland China', 'estimated_cost': 150, 'user_rating': {'average_rating': 4.9, 'votes': 2133}, 'id': 417}
{'city': 'Seattle', 'name': 'Addo', 'estimated_cost': 140, 'user_rating': {'average_rating': 4.7, 'votes': 6860}, 'id': 418}
{'city': 'Seattle', 'name': 'The Pallet', 'estimated_cost': 160, 'user_rating': {'average_rating': 4.4, 'votes': 2390}, 'id': 419}
{'city': 'Seattle', 'name': 'Hammered', 'estimated_cost': 130, 'user_rating': {'average_rating': 4.6, 'votes': 4562}, 'id': 420}
{'city': 'Seattle', 'name': 'Sidewalk - The Garden Bar', 'estimated_cost': 130, 'user_rating': {'average_rating': 4.5, 'votes': 2877}, 'id': 421}
{'city': 'Seattle', 'name': 'Brooks and Bonds Brewery', 'estimated_cost': 160, 'user_rating': {'average_rating': 4.5, 'votes': 3825}, 'id': 422}
{'city': 'Seattle', 'name': 'Toit', 'estimated_cost': 150, 'user_rating': {'average_rating': 4.7, 'votes': 14938}, 'id': 423}
{'city': 'Seattle', 'name': "AB's - Absolute Barbecues", 'estimated_cost': 160, 'user_rating': {'average_rating': 4.8, 'votes': 11871}, 'id': 424}
{'city': 'Seattle', 'name': 'Frelard Tamales', 'estimated_cost': 150, 'user_rating': {'average_rating': 4.6, 'votes': 4604}, 'id': 425}
{'city': 'Seattle', 'name': "Xi'an Noodles", 'estimated_cost': 140, 'user_rating': {'average_rating': 4.8, 'votes': 10330}, 'id': 426}
{'city': 'Seattle', 'name': 'Levitate Brewery and Kitchen', 'estimated_cost': 150, 'user_rating': {'average_rating': 4.4, 'votes': 329}, 'id': 427}
{'city': 'Seattle', 'name': 'Baar Union', 'estimated_cost': 850, 'user_rating': {'average_rating': 4.7, 'votes': 558}, 'id': 428}
{'city': 'Seattle', 'name': 'La Carta de Oaxaca', 'estimated_cost': 240, 'user_rating': {'average_rating': 4.7, 'votes': 6829}, 'id': 429}
{'city': 'Seattle', 'name': 'XOOX Brewmill', 'estimated_cost': 200, 'user_rating': {'average_rating': 4.4, 'votes': 1483}, 'id': 430}
{'city': 'Seattle', 'name': 'The Globe Grub', 'estimated_cost': 130, 'user_rating': {'average_rating': 4.8, 'votes': 3790}, 'id': 431}
{'city': 'Seattle', 'name': 'The Bier Library', 'estimated_cost': 200, 'user_rating': {'average_rating': 4.3, 'votes': 476}, 'id': 432}
{'city': 'Seattle', 'name': 'Vapour Brewpub and Diner', 'estimated_cost': 140, 'user_rating': {'average_rating': 4.6, 'votes': 2703}, 'id': 433}
{'city': 'Seattle', 'name': "AB's - Absolute Barbecues", 'estimated_cost': 160, 'user_rating': {'average_rating': 4.9, 'votes': 6309}, 'id': 434}
{'city': 'Seattle', 'name': 'Off The Rez Cafe', 'estimated_cost': 140, 'user_rating': {'average_rating': 4.4, 'votes': 2960}, 'id': 435}
{'city': 'Seattle', 'name': 'Jetlag', 'estimated_cost': 1650, 'user_rating': {'average_rating': 4.1, 'votes': 704}, 'id': 436}
{'city': 'Seattle', 'name': 'Barbeque Nation', 'estimated_cost': 160, 'user_rating': {'average_rating': 4.7, 'votes': 7148}, 'id': 437}
{'city': 'Seattle', 'name': 'The Boozy Griffin', 'estimated_cost': 180, 'user_rating': {'average_rating': 4.8, 'votes': 4459}, 'id': 438}
{'city': 'Seattle', 'name': 'The Reservoire', 'estimated_cost': 130, 'user_rating': {'average_rating': 4.5, 'votes': 2495}, 'id': 439}
{'city': 'Seattle', 'name': 'The Big Barbeque', 'estimated_cost': 150, 'user_rating': {'average_rating': 4.5, 'votes': 455}, 'id': 440}

In [53]:
import operator
from pprint import pp

import requests


def iter_page(
    url_template: str,
    get_total,
    get_data,
):
    page = 1
    total = 1
    while page <= total:
        resp = requests.get(url)
        payload = resp.json()
        total = get_total(payload)
        yield from get_data(payload)
        page += 1

In [54]:
pages = iter_page(
    url_template="thttps://jsonmock.hackerrank.com/api/food_outlets?city=seattle&page={page}",
    get_total=operator.itemgetter('total_pages'),
    get_data=operator.itemgetter('data'),
)
for i, datum in zip(range(5), pages):
    print(f"=== {i} ===")
    pp(datum)

=== 0 ===
{'city': 'Seattle',
 'name': 'Cafe Juanita',
 'estimated_cost': 160,
 'user_rating': {'average_rating': 4.9, 'votes': 16203},
 'id': 41}
=== 1 ===
{'city': 'Seattle',
 'name': 'Cafe Munir',
 'estimated_cost': 160,
 'user_rating': {'average_rating': 4.9, 'votes': 4699},
 'id': 42}
=== 2 ===
{'city': 'Seattle',
 'name': 'Flechazo',
 'estimated_cost': 140,
 'user_rating': {'average_rating': 4.8, 'votes': 2663},
 'id': 43}
=== 3 ===
{'city': 'Seattle',
 'name': 'Vanilla Sky',
 'estimated_cost': 120,
 'user_rating': {'average_rating': 4.6, 'votes': 645},
 'id': 44}
=== 4 ===
{'city': 'Seattle',
 'name': 'The Shambles',
 'estimated_cost': 110,
 'user_rating': {'average_rating': 4.4, 'votes': 2116},
 'id': 45}

In [45]:
template = "Page: {page}"
template

'Page: {page}'

In [46]:
template.format(page=15)

'Page: 15'