# Pandas Dataframe

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        "name": ["Mariya", "Batman", "Spongebob"],
        "height": [1.67, 1.9, 0.25],
        "weight": [54, 100, 1],
    }
)
df

        name  height  weight
0     Mariya    1.67      54
1     Batman    1.90     100
2  Spongebob    0.25       1

In [3]:
w = df["weight"]

In [4]:
w

0     54
1    100
2      1
Name: weight, dtype: int64

In [5]:
w.name

'weight'

In [6]:
# Batman's weigh, he is at index 1
df["weight"][1]

np.int64(100)

In [7]:
# Calculate Body Mass Index, BMI = weight / (height ** 2)
df["bmi"] = df["weight"] / (df["height"] ** 2)

In [8]:
df

        name  height  weight        bmi
0     Mariya    1.67      54  19.362473
1     Batman    1.90     100  27.700831
2  Spongebob    0.25       1  16.000000