# Pandas Dataframe

In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame(
    {
        "car": ["BMW", "Volvo", "Ford"],
        "passing": [3, 5, 7],
    }
)
df

     car  passing
0    BMW        3
1  Volvo        5
2   Ford        7

In [5]:
# Pandas version
pd.__version__

'2.3.1'