# Pandas Series

In [1]:
import pandas as pd

In [2]:
s = pd.Series([1,7, 2])
s

0    1
1    7
2    2
dtype: int64

In [3]:
s[0]

np.int64(1)

In [4]:
grade = pd.Series({"Math": 87, "History": 73, "English": 89})
grade

Math       87
History    73
English    89
dtype: int64

In [5]:
list(grade.items())

[('Math', 87), ('History', 73), ('English', 89)]

In [6]:
grade.index

Index(['Math', 'History', 'English'], dtype='object')

In [7]:
dict(grade)

{'Math': np.int64(87), 'History': np.int64(73), 'English': np.int64(89)}

## Subset of Series

In [12]:
fruits = pd.Series(["banana", "apple"])
fruits

0    banana
1     apple
dtype: object

In [13]:
# Use iloc to locate by integer index
fruits.iloc[0]

'banana'

In [16]:
# Subset more than one item
fruits.iloc[[0, 1]]

0    banana
1     apple
dtype: object

In [17]:
# Subset using a range
fruits.iloc[0:2]

0    banana
1     apple
dtype: object

## Subset with index values

In [18]:
attendance = pd.Series(
    [132, 94, 112, 84, 254, 322, 472],
    index=[
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday",
    ],
)
attendance

Monday       132
Tuesday       94
Wednesday    112
Thursday      84
Friday       254
Saturday     322
Sunday       472
dtype: int64

In [24]:
# Subset using loc
print(f"{attendance['Monday']=}")
print(f"{attendance.loc['Monday']=}")

attendance['Monday']=np.int64(132)
attendance.loc['Monday']=np.int64(132)

In [25]:
# Unlike iloc, loc range is inclusive
attendance.loc["Monday":"Friday"]

Monday       132
Tuesday       94
Wednesday    112
Thursday      84
Friday       254
dtype: int64

## Subset using logical test

In [28]:
# Create a condition
was_busy = attendance > 100
was_busy

Monday        True
Tuesday      False
Wednesday     True
Thursday     False
Friday        True
Saturday      True
Sunday        True
dtype: bool

In [29]:
# Use that condition
attendance[was_busy]

Monday       132
Wednesday    112
Friday       254
Saturday     322
Sunday       472
dtype: int64

In [30]:
# Or, we can use that condition in-line
attendance[attendance < 100]

Tuesday     94
Thursday    84
dtype: int64

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().