#### Import pandas with its alias

In [1]:
import pandas as pd

#### Load the ```TopRichestInWorld.csv``` file and make 'Name' the index and 'Age' the column

In [4]:
s = pd.read_csv("TopRichestInWorld.csv", usecols=["Name", "Age"], index_col="Name").squeeze()

#### Which person is the oldest?

In [6]:
s.idxmax()

'Lee Shau Kee'

#### How old is he?

In [7]:
s.max()

np.int64(94)

#### Sort the values from the oldest to youngest age to verify

In [8]:
s.sort_values(ascending=False)

Name
Lee Shau Kee               94
Li Ka-shing                93
Warren Buffett             91
Rupert Murdoch & family    91
Leonard Lauder             89
                           ..
Guillaume Pousaz           40
Yang Huiyan & family       40
Zhang Yiming               38
Mark Zuckerberg            37
Sam Bankman-Fried          30
Name: Age, Length: 101, dtype: int64

#### Which person is the youngest?

In [9]:
s.idxmin()

'Sam Bankman-Fried'

#### How young is the youngest?

In [10]:
s.min()

np.int64(30)

#### What is the average age of all the millionaires? (Round it to 2 decimal places)

In [15]:
s.mean().round(2)

np.float64(67.12)

#### Save the series as a csv file named: sample.csv

In [16]:
s.to_csv("sample.csv")

#### Read the csv you just saved

In [18]:
s2 = pd.read_csv("sample.csv", index_col="Name").squeeze()
s2

Name
Elon Musk                   50
Jeff Bezos                  58
Bernard Arnault & family    73
Bill Gates                  66
Warren Buffett              91
                            ..
Vladimir Potanin            61
Harold Hamm & family        76
Sun Piaoyang                63
Luo Liguo & family          66
Peter Woo                   75
Name: Age, Length: 101, dtype: int64